@font-face {
  font-family: 'Creepy';
  src: url('Assets/Fonts/Creepy.woff') format('woff'),
    url('Assets/Fonts/Creepy.woff2') format('woff2');
}

@font-face {
  font-family: 'Lunacy';
  src: url('Assets/Fonts/Lunacy.woff') format('woff'),
    url('Assets/Fonts/Lunacy.woff2') format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url(Assets/Cursors/Ghost.cur), auto;
  font-family: Lunacy;
}
body {
  background-color: black;
}

.game-info-container {
  display: flex;
  width: 640px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
}

.game-info {
  color: #fbfbfb;
  font-size: 4em;
}

.game-container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  width: calc(25% - 4px);
  height: calc(33.333% - 4px);
  margin: 2px;
  position: relative;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}
.card-face img {
  width: 100%;
  height: 100%;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-front .card-value {
  animation: dance 1s linear infinite 500ms;
}

.card-back {
  background-color: black;
  border-color: #adadad;
  transform: rotateY(0);
}

.card-back:hover .mortal {
  transform: translateY(0);
}

.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(0.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color: #3c3c3c;
  border-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: red;
  font-family: Creepy, serif;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%,
  100% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1);
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .page-title {
    font-size: 80px;
  }
  .game-info-container {
    font-size: 10px;
  }
}
